
$mainColor: #409eff;
$blueColor: #409eff;
$greenColor: #67c23a;
$redColor: #f56c6c;
$garyColor: #f5f5f5;
$grayLineColor: #ebeef5;
$darkgrayColor: #888;
$yellowColor: #e6a23c;
$mainBgColor: #2a2b2b;
$titleBgColor: #f9f9f9;
$fontColor: #606266;

$splitLine: 1px solid $grayLineColor;

$sidebarWidth: 210px;
